{% extends 'client_base.html' %}

{% block header %}
<h1>{% block title %}Dashboard {{session.get('client')["nome"]}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="d-flex flex-row flex-wrap justify-content-center">
    {% for conto in conti %}
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Conto Corrente {{ conto.id }}</h5>
            <p class="card-text"><strong>Saldo conto:</strong> {{ conto.saldo_conto }}</p>
            <p class="card-text"><strong>Entrate / Uscite mese corrente:</strong> {{ conto.entrate_uscite_mese }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}