{% extends 'client_base.html' %}

{% block header %}
<h1>{% block title %}Dashboard {{session.get('client')["nome"]}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="half-container">
    <!-- Richieste Conti Correnti -->
    {% if richieste_in_attesa > 0 %}
        <div class="d-flex flex-row flex-wrap mb-3">
            <h5>Richieste in attesa: {{ richieste_in_attesa }}</h5>
        </div>
    {% endif %}

    <!-- Conti Correnti -->
    {% for conto in conti %}
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Conto Corrente {{ conto.id }}</h5>
            <p class="card-text"><strong>Saldo conto:</strong> {{ conto.saldo_conto }}</p>
            <p class="card-text"><strong>Entrate / Uscite mese corrente:</strong> {{ conto.entrate_uscite_mese }}</p>
        </div>
    </div>
    {% endfor %}

    <!-- Request a ContoCorrente -->
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <form action="{{ url_for('client.richiesta_conto_corrente') }}" method="POST">
            <button type="submit" class="btn btn-primary">Richiedi Conto Corrente</button>
        </form>
    </div>
</div>
{% endblock %}