.navbar-nav .nav-item .nav-link {
    color: #fff !important;
}

.navbar-brand {
    font-weight: bold;
}

header {
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
} 

.container {
    max-width: 600px;
}

.form-group input {
    height: 45px;
}

.btn-custom {
    background-color: #007bff;
    color: white;
    height: 45px;
    font-size: 18px;
}

.alert-custom {
    padding: 15px;
    border-radius: 5px;
    font-size: 1.1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}
.alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}
.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}
.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}