.navbar-nav .nav-item .nav-link {
    color: #fff !important;
}

.navbar-brand {
    font-weight: bold;
}

header {
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.half-container {
    width: 50%;
    margin: auto;
}

.form-group input {
    height: 45px;
}

.btn-custom {
    background-color: #007bff;
    color: white;
    height: 45px;
    font-size: 18px;
}

.alert-custom {
    padding: 15px;
    border-radius: 5px;
    font-size: 1.1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}
.alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}
.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}
.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.flex-flow-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.w-48 {
    width: 48%;
}

.form-control > li > label {
    display: none;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}
.credit-card {
    width: 350px;
    height: 200px;
    border-radius: 15px;
    background: linear-gradient(135deg, #1c92d2, #daf1f6);
    color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    position: relative;
}
.credit-card .cc-number {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.credit-card .cc-info {
    display: flex;
    justify-content: space-between;
}
.credit-card .cc-expiry,
.credit-card .cc-cvv {
    font-size: 1em;
}
.credit-card .cc-balance {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.1em;
}
.credit-card .menu-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
}
.credit-card .dropdown-menu {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.credit-card .dropdown-menu button {
    background: none;
    border: none;
    color: #007bff;
    padding: 8px 16px;
    text-align: left;
    width: 100%;
    text-decoration: none;
    display: block;
}
.credit-card .dropdown-menu button:hover {
    background-color: #f1f1f1;
    color: #0056b3;
}
.credit-card-disabled {
    opacity: 0.7;
    background: none;
    background-color: #d3d3d3;
}   