{% extends 'direttore/direttore_base.html' %}

{% block header %}
<h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
<!-- Assigned Filiale -->
<h3 class="mb-4">Filiale: {{ filiale.sede }}</h3>

<!-- conti_correnti of the assigned Filiale -->
<h3>Conti correnti</h3>
<table class="table">
    <thead>
        <tr>
            <th>IBAN</th>
            <th>Saldo</th>
            <th>Cliente</th>
        </tr>
    </thead>
    <tbody>
        {% for conto_corrente in filiale.conti_correnti %}
        <tr>
            <td>{{ conto_corrente.iban }}</td>
            <td>{{ conto_corrente.saldo }} &euro;</td>
            <td>{{ conto_corrente.cliente1.nome }} {{ conto_corrente.cliente1.cognome }}{% if conto_corrente.cliente2 %},
                {{ conto_corrente.cliente2.nome }} {{ conto_corrente.cliente2.cognome }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- most spending Clients -->
<h3>Clienti più alto spendenti nel mese corrente</h3>
<table class="table">
    <thead>
        <tr>
            <th>N.</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Spesa totale</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in most_spending_clients %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ cliente.nome }} {{ cliente.cognome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.spesa_totale }} &euro;</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- bancari of the assigned Filiale -->
<h3>Bancari</h3>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Clienti assegnati</th>
            <th>Richieste elaborate</th>
        </tr>
    </thead>
    <tbody>
        {% for bancario in filiale.bancari %}
        <tr>
            <td>{{ bancario.nome }} {{ bancario.cognome }}</td>
            <td>{{ bancario.email }}</td>
            <td>{{ bancario.telefono }}</td>
            <td>{{ bancario.clienti | count }}</td>
            <td>{{ bancario.richieste_conti_correnti | count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}