{% extends 'direttore/direttore_base.html' %}

{% block header %}
<h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
<!-- Assigned Filiale -->
<h3 class="mb-4">Filiale: {{ filiale.sede }}</h3>

<!-- conti_correnti of the assigned Filiale -->
<h3>Conti correnti</h3>
<table class="table">
    <thead>
        <tr>
            <th>IBAN</th>
            <th>Saldo</th>
            <th>Cliente</th>
        </tr>
    </thead>
    <tbody>
        {% for conto_corrente in filiale.conti_correnti %}
        <tr>
            <td>{{ conto_corrente.iban }}</td>
            <td>{{ conto_corrente.saldo }} &euro;</td>
            <td>{{ conto_corrente.cliente1.nome }} {{ conto_corrente.cliente1.cognome }}{% if conto_corrente.cliente2 %},
                {{ conto_corrente.cliente2.nome }} {{ conto_corrente.cliente2.cognome }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- most spending Clients bar chart -->
<h3>Clienti con più spese del mese</h3>
<canvas id="mostSpendingClients"></canvas>

<!-- bancari of the assigned Filiale -->
<h3>Bancari</h3>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Clienti assegnati</th>
            <th>Richieste elaborate</th>
        </tr>
    </thead>
    <tbody>
        {% for bancario in filiale.bancari %}
        <tr>
            <td>{{ bancario.nome }} {{ bancario.cognome }}</td>
            <td>{{ bancario.email }}</td>
            <td>{{ bancario.telefono }}</td>
            <td>{{ bancario.clienti | count }}</td>
            <td>{{ bancario.richieste_conti_correnti | count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        mostSpendingClients();
    });

    function mostSpendingClients() {
        const clients = {{ most_spending_clients | tojson }};
        console.log(clients);

        // order by spesa_totale
        clients.sort((a, b) => b.spesa_totale - a.spesa_totale);

        const labels = clients.map(client => client.nome);
        const data = clients.map(client => client.spesa_totale);

        const ctx = document.getElementById('mostSpendingClients').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Spesa totale',
                    data: data,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }
</script>
{% endblock %}