{% macro form(form, endpoint, enctype="", form_class="", group_class="", hide_submit_btn=false, default_values={}) %}
<form enctype="{{enctype}}" action="{{ url_for(endpoint) }}" class="{{ form_class }}" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
            <div class="form-group {{ group_class }}">
                {{ field.label(class="form-label") }}
                {% if field.name in default_values %}
                    {{ field(class="form-control is-invalid" if field.errors else "form-control", value=default_values[field.name], placeholder=field.label.text) }}
                {% else %}
                    {{ field(class="form-control is-invalid" if field.errors else "form-control", placeholder=field.label.text) }}
                {% endif %}
                {% for error in field.errors %}
                    <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    {% if form.submit %}
        {{ form.submit(class="d-none" if hide_submit_btn else "btn btn-custom btn-block") }}
    {% endif %}
</form>
{% endmacro %}
