{% extends 'cliente/cliente_base.html' %}
{% from 'macros/form.html' import form %}

{% block header %}
<h1>{% block title %}Conto Corrente {{conto_corrente.id}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <!-- Display saldo -->
    <div class="mb-5">
        <h3>Saldo: {{ conto_corrente.saldo }} &euro;</h3>
        <h3>IBAN: {{ conto_corrente.iban }}</h3>
        <h3>Spesa mensile media: {{ conto_corrente.spesa_mensile_media }} &euro;</h3>
        <h3>Entrata mensile media: {{ conto_corrente.entrata_mensile_media }} &euro;</h3>
    </div>

    <!-- saldo chart -->
    <canvas id="balanceChart" class="mb-5" width="800" height="400"></canvas>

    <!-- transazioni bar chart -->
    <canvas id="transazioniChart" class="mb-5" width="800" height="400"></canvas>

    <div class="mb-5">
        <h3>Transazioni</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrizione</th>
                    <th>Causale</th>
                    <th>Dare</th>
                    <th>Avere</th>
                </tr>
            </thead>
            <tbody>
                {% for transazione in transazioni %}
                <tr>
                    <td>{{ transazione.data }}</td>
                    <td>{{ transazione.descrizione }}</td>
                    <td>{% if transazione.causale %}{{ transazione.causale }}{% endif %}</td>
                    <td>{% if not transazione.entrata %} -{{ transazione.importo }} &euro; {% endif %}</td>
                    <td>{% if transazione.entrata %} {{ transazione.importo }} &euro; {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Invia bonifico -->
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <!-- button, it should open a model -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bonificoModal">
            Invia bonifico
        </button>

        <!-- modal to request a new prestito -->
        <div class="modal fade" id="bonificoModal" tabindex="-1" role="dialog" aria-labelledby="bonificoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bonificoModalLabel">Nuovo bonifico</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form(bonifico_form, 'cliente.bonifico', enctype="multipart/form-data",
                        form_class="flex-flow-wrap", hide_submit_btn=true) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                        <button type="submit" id="submit-bonifico" class="btn btn-primary">Invia</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        bonificoForm();
        balanceChart();
        transazioniChart();
    });

    // bonifico form
    function bonificoForm() {
        const contoCorrenteId = {{ conto_corrente.id | tojson }};
        const contoCorrenteIdField = document.getElementById("conto_corrente_id");
        const submitBtn = document.getElementById("submit");
        const submitBonifico = document.getElementById("submit-bonifico");

        contoCorrenteIdField.value = contoCorrenteId;

        submitBonifico.addEventListener("click", function () {
            submitBtn.click();
        });

        // Check if the bonifico_form has errors
        const hasValuesOrErrors = {{ (bonifico_form.errors | length > 0) | tojson }};
        if (hasValuesOrErrors) {
            $('#bonificoModal').modal('show');
        }
    }

    // Balance chart
    function balanceChart() {
        const transazioni = {{ t_list | tojson }};
        let balance = {{ conto_corrente.saldo | tojson }};

        // Initialize arrays for plotting
        let dates = [new Date()];
        let balances = [balance];

        // Iterate through transactions and update balance
        transazioni.reverse().forEach(transazione => {
            if (transazione.entrata) {
                balance -= transazione.importo; // reverse deposit
            } else {
                balance += transazione.importo; // reverse withdrawal
            }
            dates.push(transazione.data);
            balances.push(balance);
        });

        // Create the chart
        let ctx = document.getElementById('balanceChart').getContext('2d');
        let balanceChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Saldo',
                    data: balances,
                    fill: false,
                    borderColor: 'blue',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                            tooltipFormat: 'YYYY-MM-DD'
                        },
                        title: {
                            display: true,
                            text: 'Data'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Saldo'
                        }
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Saldo'
                    }
                }
            }
        });
    }

    // transazioni chart
    function transazioniChart() {
        let transazioni = {{ t_list | tojson }};

        // filter transazioni only for this year
        const thisYear = new Date().getFullYear();
        transazioni = transazioni.filter(t => new Date(t.data).getFullYear() === thisYear);

        // group transazioni by month, sum importo for same entrata
        const groupedTransazioni = transazioni.reduce((acc, t) => {
            const month = new Date(t.data).getMonth();
            if (!acc[month]) {
                acc[month] = {"entrate": 0, "uscite": 0};
            }
            
            if (t.entrata) {
                acc[month].entrate += t.importo;
            } else {
                acc[month].uscite += t.importo;
            }
            return acc;
        }, {});

        // Create the chart
        let ctx = document.getElementById('transazioniChart').getContext('2d');
        let transazioniChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Object.keys(groupedTransazioni).map(m => new Date(0, m).toLocaleString('default', { month: 'long' })),
                datasets: [{
                    label: 'Uscite',
                    data: Object.values(groupedTransazioni).map(t => t.uscite),
                    backgroundColor: 'red'
                }, {
                    label: 'Entrate',
                    data: Object.values(groupedTransazioni).map(t => t.entrate),
                    backgroundColor: 'green'
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Mese'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Importo'
                        }
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Transazioni'
                    }
                }
            }
        });
    }
</script>
{% endblock %}