{% extends 'cliente/cliente_base.html' %}

{% block header %}
<h1>{% block title %}Dashboard {{session.get('cliente')["nome"]}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <!-- Richieste Conti Correnti -->
    {% if richieste_in_attesa > 0 %}
    <div class="d-flex flex-row flex-wrap mb-3">
        <h5>Richieste in attesa: {{ richieste_in_attesa }}</h5>
    </div>
    {% endif %}

    <!-- Conti Correnti -->
    <div class="row mb-5">
        {% for conto in conti_correnti %}
        <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch mb-4 justify-content-center">
            <div class="card" style="width: 18rem;">
                <a class="card-body link-unstyled" href="{{ url_for('cliente.conto_corrente', id=conto.id) }}">
                    <h5 class="card-title">Conto Corrente {{ conto.id }}</h5>
                    <p class="card-text"><strong>Filiale:</strong> {{conto.filiale.sede}}</p>
                    <p class="card-text"><strong>IBAN:</strong> {{ conto.iban }}</p>
                    <p class="card-text"><strong>Saldo conto:</strong> {{ conto.saldo }} &euro;</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Request a ContoCorrente -->
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <form action="{{ url_for('cliente.richiesta_conto_corrente') }}" method="POST">
            <button type="submit" class="btn btn-primary">Richiedi Conto Corrente</button>
        </form>
    </div>
</div>
{% endblock %}